.flexbox-13a {
    display: flex;
    flex-direction: row;
}

.item1-flexbox-13a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: lightpink;
    width: 100px;
}

.item1-paragraph-flexbox-13a {
    color: white;
    background-color: black;
}

.item2-flexbox-13a {
    background-color: lightblue;
    width: 200px;
}